@import "../core/variables.scss";

.content {
  min-height: 100vh;
  background-color: $purple;
}

.header {
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  background: #ffffff;
  box-shadow: 0px 4px 5px rgba(255, 255, 255, 0.25);
  gap: 20px;
  padding: 30px 20px;
  position: fixed;
  z-index: 10;

  span {
    font-family: "Wedges", sans-serif;
    font-size: 3.2rem;
    color: $purple;

    & + button {
      margin-left: auto;
    }
  }

  form {
    display: flex;
    align-items: center;

    input {
      width: 400px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    button {
      height: 56px;
      background-color: $purple;
      color: #ffffff;
      border: none;
      border: 1px solid #e5e6e7;
      border-radius: 8px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-weight: 400;
      font-size: 1.6rem;
      padding: 10px 20px;
      cursor: pointer;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.main {
  padding: 170px 50px 50px;

  h1 {
    grid-column: 1 / 13;
    grid-row: 1;
    font-family: "Wedges", sans-serif;
    font-size: 3.2rem;
    color: #ffffff;
    margin-bottom: 50px;
  }

  .wantlist {
    display: flex;
    justify-content: center;

    & > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      & > div {
        display: flex;
        flex-direction: column;
        width: 200px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;

        & > div:first-child {
          height: 165px;
          background: #ffffff url("../../img/background-vinyle.png") no-repeat;
          background-size: contain;

          img {
            width: 131px;
            height: 131px;
            position: relative;
            top: 10px;
            left: 10px;
          }
        }

        h2 {
          font-weight: 600;
          font-size: 2rem;
          line-height: 24px;
          color: $purple;
        }

        p {
          color: #acacac;
          margin: 10px 0 20px;
        }

        & > div:last-child {
          margin-top: auto;

          button {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
