@import "../core/variables.scss";

.content {
  min-height: 100vh;
  background: linear-gradient(135deg, #5e36c9 0%, #2e1b5c 50%, #120926 100%);
}

.main {
  padding: 170px 50px 50px;

  h1 {
    grid-column: 1 / 13;
    grid-row: 1;
    font-family: "Wedges", sans-serif;
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 50px;
  }

  .wantlist {
    display: flex;
    justify-content: center;

    & > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }
}
