@import "../core/variables.scss";

.content {
  min-height: 100vh;
  background: linear-gradient(135deg, #5e36c9 0%, #2e1b5c 50%, #120926 100%);
}

.main {
  padding: 170px 50px 50px;

  h1 {
    grid-column: 1 / 13;
    grid-row: 1;
    font-family: "Wedges", sans-serif;
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 50px;
  }

  .wantlist {
    display: flex;
    justify-content: center;

    & > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      .item {
        display: flex;
        flex-direction: column;
        width: 200px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;

        // Cover
        & > div:first-child {
          height: 165px;
          background: #ffffff url("../../img/background-vinyle.png") no-repeat;
          background-size: contain;

          img {
            width: 131px;
            height: 131px;
            position: relative;
            top: 10px;
            left: 10px;
          }
        }

        h2 {
          font-weight: 600;
          font-size: 2rem;
          line-height: 24px;
          color: $purple;
        }

        p {
          color: #acacac;
          margin: 10px 0 20px;
        }

        & > div:last-child {
          display: flex;
          justify-content: space-between;
          margin-top: auto;
        }
      }
    }
  }
}
