.modalOverlay {
  position: fixed;
  top: 0;  /*permet de mettre la modale en dessous le menu si on change la bien penser à changer la talille du menu aussi */
  left: 0;
  width: 100%;
  height: 100%; /*permet de mettre la modale en dessous le menu */
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr

}
.modalTitle {
  background: #2E1B5C;
  width: 100%;        /* prend toute la largeur dispo dans l'overlay */
  height: 100%;
  text-align: center;
    grid-column: 1
}

.modalTxt {
  background: white;
  width: 100%;        /* prend toute la largeur dispo dans l'overlay */
  height: 100%;
  text-align: center;
 grid-column: 2
}



