.footer {
  display: flex;             /* active flexbox */
  flex-direction: row;       /* aligne les enfants horizontalement */
  justify-content: space-between; /* espace maximal entre les boutons */
  align-items: center;       /* centre verticalement si besoin */
  width: 100%;               /* s'assure que le container prend toute la largeur */
  box-sizing: border-box;
    padding: 0 100px;         /* ajoute de l’espace à gauche et à droite */
}

.criteresList {
  display: flex;
  justify-content: center; /* centre les critères horizontalement */
  align-items: center;
  gap: 12px;               /* espace entre chaque critère */
  flex-wrap: wrap;          /* retour à la ligne si ça dépasse */
}



