.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}


.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.titleRow{
  font-weight: bold;
  align-items: center;
    display: flex;
  justify-content: space-between; /* espace entre les éléments */
}

.title{
  font-weight: bold;
  display: flex;
}
.buttons{
    gap: 5px; /* espace horizontal entre éléments */
  display: flex;
}

.lyrics{
  padding: 10px;
}