.titleRow{
  font-weight: bold;
  align-items: center;
    display: flex;
  justify-content: space-between; /* espace entre les éléments */
}

.title{
  display: flex;
}
.buttons{
  display: flex;
    gap: 5px; /* espace horizontal entre éléments */
}