@import "./core/variables.scss";

.main {
  width:100%;
  height:100%;
  background: $purple;
  display: inline-flex; 
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}


.titlePage {
    font-family: "Wedges", sans-serif;
    font-size: 10rem;
    color: #ffffff;
    text-shadow: 2px 2px 0px $pink;
}
