@import "./variables.scss";

*:focus {
  outline: none;
}

.form-input {
  height: 56px;
  box-sizing: border-box;
  border: 1px solid #e5e6e7;
  border-radius: 8px;
  color: $purple;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 10px 20px;
}

.form-button {
  width: 100%;
  height: 56px;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &.primary {
    background-color: $purple;
    color: $pink;
    position: relative;

    svg {
      position: absolute;
      right: 20px;
    }

    &:hover {
      background-color: $pink;
      color: $purple;
      transition: all 0.2s ease-in;
    }
  }

  &.spotify {
    background-color: $spotify;
    color: #ffffff;
    position: relative;

    svg {
      position: absolute;
      right: 20px;
    }
  }

  &.secondary {
    background-color: black;
    color: #d59fc7;
    position: relative;
    border: solid 2px $pink;

    svg {
      position: absolute;
      right: 10px;
    }

    &:hover {
      background-color: $pink;
      color: $purple;
      transition: all 0.2s ease-in;
    }
  }
}

.button-bulle {
  width: 56px;
  height: 56px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 1px 12px rgba(0, 0, 0, 0.04);
  border: none;
  border-radius: 24px;
  cursor: pointer;

  svg {
    width: 15px;
    height: 15px;
  }

  &:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.12);
  }

  &:active {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  }

  &.purple {
    background: $purple;
    color: #ffffff;
  }

  &.pink {
    background: $pink;
    color: #ffffff;
  }
}

.button-square {
  width: 40px;
  height: 40px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 1px 12px rgba(0, 0, 0, 0.04);
  border: none;
  border-radius: 12px;
  cursor: pointer;

  svg {
    width: 15px;
    height: 15px;
  }

  &:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.12);
  }

  &:active {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  }

  &.purple {
    background: $purple;
    color: #ffffff;
  }

  &.pink {
    background: $pink;
    color: #ffffff;
  }
}
