@import "../core/variables.scss";

.playlistsContainer {
  background: linear-gradient(135deg, #5e36c9 0%, #2e1b5c 50%, #120926 100%);
  min-height: 100vh;
  padding: 2rem;
  color: white;
  display: flex;
  padding-top: 130px;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 24px;
  font-family: "Wedges", sans-serif;
  color: $purple;
}

.boxText {
  background-color: white;
  color: $purple;
  border-radius: 5px;
  font-size: 50px;
  text-align: center;
  margin-bottom: 25px;
  height: 60px;
  width: 50%;
}

.playlistsBox {
  display: flex;
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  gap: 1rem;
}

.playlistButton {
  background-color: $purple;
  color: white;
  padding: 14px;
  border: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.crossClose{
    color: $pink;
}

.crossClose:hover{
    cursor: pointer;
    transition: opacity 0.2s;
    opacity: 0.5;
    
}

