@import "../core/variables.scss";


.modalOverlay {
  position: fixed;
  top: 0; /*permet de mettre la modale en dessous le menu si on change la bien penser à changer la talille du menu aussi */
  left: 0;
  width: 100vw;
  height: 100vh; /*permet de mettre la modale en dessous le menu */
  background-color: $purple;
  
}

.title {
    font-family: "Wedges", sans-serif;
    font-size: 4rem;
    color: $purple;
    text-shadow: 2px 2px 0px $pink;
}


.subtitle {
    font-size: 2.4rem;
    font-weight: 600;
    color: $purple;
    margin-bottom: 20px;
}

.containerTitle {
    background-color: white;
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    
}


.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.overlaySection {
  position: absolute;
  top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}


.button:hover {
  background-color: $pink;
  color: $purple;
  transition: all 0.2s ease-in;
}

.nextFa {
  position: absolute;
  right: 20px;
}

.previousFa {
  position: absolute;
  left: 20px;
}
.buttonTriple {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

.button {
  background-color: white;
  width: 300px;
  color: $purple;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  height: 56px;
  color: $purple;
  position: relative;
}

.crossClose {
  color: $pink;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  
  &:hover {
    cursor: pointer;
    transition: opacity 0.2s;
    opacity: 0.5;
  }
}
.menuBar {
  height: 80px;
  background-color: white;
}
.buttonTriple {
  display: flex;
  justify-content: center;  /* centre les boutons */
  gap: 20px;
  margin-top: 50px;
}


.correctionContainer {
  max-height: 400px;    /* or any height you want */
  overflow-y: auto;     /* vertical scrollbar */
  /* Optional styling */
  margin-top: 50px;
}
