@import "../core/variables.scss";

.modalOverlay {
  position: fixed;
  top: 0;  /*permet de mettre la modale en dessous le menu si on change la bien penser à changer la talille du menu aussi */
  left: 0;
  width: 100vw;
  height: 100vh; /*permet de mettre la modale en dessous le menu */
  display: grid;
  grid-template-columns: 1fr 1fr
}

.modalTitle {
  background: $purple;
  display: inline-flex; 
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  grid-column: auto; 
}

.titlePage {
    font-family: "Wedges", sans-serif;
    font-size: 6.4rem;
    color: #ffffff;
    text-shadow: 2px 2px 0px $pink;
}

.modalTxt {
  background: white;
  display: inline-flex; 
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  grid-column: auto; 
  padding: 100px;
}

.crossClose {
  color: $pink;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  
  &:hover {
    cursor: pointer;
    transition: opacity 0.2s;
    opacity: 0.5;
  }
}

.instruction{
  font-size: 1.8rem;
  color: $purple;
  margin-block: 10px;
  text-align: justify;
  line-height: 1.6;

}

.separator {
  width: 100%;
  border: none;
  border-top: 2px solid $purple; 
}


.subtitle {
    font-size: 3rem;
    font-weight: 600;
    color: $purple;
    margin-bottom: 20px;
}

.bodyTxt {
  font-size: 1.8rem;
  color: $purple;
  margin-block: 10px;
  line-height: 1.4;
}


.pointCpt{
    font-family: "Wedges", sans-serif;
    font-size: 2rem;
    color: $purple;
}