
.GameContainer {
    display: block;
    width: 100vw;
    height: 100vh;
}

.modalOverlay {
   
  position: fixed;
  top: 60px;  /*permet de mettre la modale en dessous le menu si on change la bien penser à changer la talille du menu aussi */
  left: 0;
  width: 100%;
  height: calc(100vh - 60px); /*permet de mettre la modale en dessous le menu */
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: purple;
  opacity: 0.7;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;        /* prend toute la largeur dispo dans l'overlay */
  height: 100%;
  text-align: center;
}

.menu{
    height: 60px;
    background-color: white;
}